.vertical-timeline-element-date{
  color: white !important;
}
.vertical-timeline-element-icon{
  background: none;
  background-color: black;
  color: white;
}

.vertical-timeline-element-subtitle{
  display: flex;
  color: grey;
  font-weight: 0px;
}

.vertical-timeline-element-subtitle a{
  color: inherit;         
  text-decoration: none;
}


.vertical-timeline.vertical-timeline--two-columns{
  margin-top: 30px;
}


.timeline-title {
  font-size: 2.5rem;
  margin-top: 2rem;
  color: #00ff90;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.event-container {
  display: flex;
  align-items: center;
}

.company-logo {
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 20%;
  border: 0.1px solid white;
  margin-left: 0px;
}

.event-description {
  /* margin: 0 !impotant; */
  font-size: 0.9rem !important;
  margin-top: 20px !important;
}