.vertical-timeline-element-date{
  color: white !important;
}
.vertical-timeline-element-icon{
  background: none;
  background-color: black;
  color: white;
}

.vertical-timeline-element-subtitle{
  color: grey;
  font-weight: 0px;
}

.vertical-timeline.vertical-timeline--two-columns{
  margin-top: 30px;
}


.timeline-title {
  font-size: 2.5rem;
  margin-top: 2rem;
  color: #00ff90;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
